.intro {
  position: relative;
  height: 100vh;//////////////
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  background-color: var(--dark-blue-color);
=======
  background-color: rgb(76, 43, 107);/////
>>>>>>> origin/main
  // overflow-y: scroll;
}
.button {
  position: absolute;
  padding: 26px 70px;
  background-color: blanchedalmond;
}