.pageButton { 
  width: 165px;
  height: 165px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  border: 1px solid var(--white-color);
  background-color: transparent;
  transition: all 1s ease;
  cursor: pointer;
}
.buttonText {
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 28px;
  color: var(--white-color);
  text-align: center;
}
//---@media pageButton--------------
@media (hover: hover) and (pointer: fine) {
  .pageButton:hover {
    background-color: var(--ligth-grey-color);
  }
}
  @media (hover: none) {
  .pageButton:hover {
    background-color: var(--ligth-grey-color);
  }
}