.copyright {
  position: absolute;
  bottom: 30px;
  left: calc(50vw - 182px);
  background-color: var(--copyright-bg-color);
  display: inline-block;
  padding: 10px 30px;
}
.text {
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
}
//---@media-copyright-----------
@media(max-width: 830px) {
  .text {
    font-size: 13px;
    line-height: 24px;
  }
  .copyright {
    bottom: 10px;
    left: calc(50vw - 145px);
    padding: 5px 11.6px;
  }
}