.design {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-image: url(/pop-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
