.designTitle {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.title {
  font-size: 50px;
  line-height: 72px;
  text-align: right;
}
.text {
  max-width: 400px;
  font-size: 19px;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: right;
  text-wrap: pretty;
}
.titleAnimation {
  display: inline-flex;
  align-items: center;
  max-width: 400px;
  height: 3px;
  border-radius: 1px;
  background-color: var(--white-color);
}
.roll {
  display: inline-block;
  width: 60px;
  height: 20px;
  background-color: var(--white-color);
  box-shadow: 7px 0px 10px var(--blue-color);
  transition: all 1s ease;
  animation: slide-right 10s cubic-bezier(0.300, 0.500, 0.700, 0.900) both infinite;
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(340px);
            transform: translateX(340px);
  }
}
//---@media-designTitle-----------
@media(max-width: 830px) {
  .text,
  .titleAnimation {
    max-width: 290px;
  }
}
.roll {
  width: 44px;
  animation: slide-right 10s cubic-bezier(0.300, 0.500, 0.700, 0.900) both infinite; 
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(246px);
            transform: translateX(246px);
  }
}