.introWrapper {
  scroll-snap-type: y mandatory;
}
.title { 
  margin: 50px 0 10px;/////
  margin: 0;/////
  position: absolute;
  font-weight: 400;
  //left: calc(50% + 130px);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;///
  line-height: 1.2;////
  color: var(--white-color);
}
.introContent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;/////////////////////////////
  background-color: var(--black-color);
}
.introContent > div {
  width: 860px;////////////////
  height: 600px;////////////////
  position: relative;
  max-height: 90vh;
  margin: 10px;
  //background: var(--white);///////////////////
  overflow: hidden;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--dark-blue-color);
  bottom: 100px;
}