.title {
  margin-bottom: 27px;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
}
.contentItems {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.text {
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 1px;
  text-wrap: pretty;
}